@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.caveat{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  
.box {
    width: 1920px;
    height: 1080px;
  }
  
  .box .group {
    position: fixed;
    width: 1942px;
    height: 1080px;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    width: 1920px;
    height: 1080px;
  }
  
  .box .main {
    position: absolute;
    width: 1920px;
    height: 1010px;
    top: 70px;
    left: 0;
    background-color: #f1f5f2;
  }
  
  .box .rectangle {
    position: absolute;
    width: 1710px;
    height: 724px;
    top: 325px;
    left: 105px;
    background-color: #cfe1e5;
    border-radius: 54px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .box .headbar {
    position: absolute;
    width: 1920px;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .box .ellipse {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 428px;
    left: 205px;
    background-color: #cdd5c9;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .div {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 551px;
    left: 205px;
    background-color: #d6e5cf;.box {
        width: 1920px;
        height: 1080px;
      }
      
      .box .group {
        position: fixed;
        width: 1942px;
        height: 1080px;
        top: 0;
        left: 0;
      }
      
      .box .overlap-group {
        position: relative;
        width: 1920px;
        height: 1080px;
      }
      
      .box .main {
        position: absolute;
        width: 1920px;
        height: 1010px;
        top: 70px;
        left: 0;
      }
      
      .box .rectangle {
        position: absolute;
        width: 1710px;
        height: 724px;
        top: 325px;
        left: 105px;
        background-color: #cfe1e5;
        border-radius: 54px;
        border: 2px solid;
        border-color: #000000;
      }
      
      .box .headbar {
        position: absolute;
        width: 1920px;
        height: 70px;
        top: 0;
        left: 0;
        background-color: #d9d9d9;
      }
      
      .box .ellipse {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 428px;
        left: 205px;
        background-color: #cdd5c9;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .div {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 551px;
        left: 205px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-2 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 549px;
        left: 435px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-3 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 549px;
        left: 665px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-4 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 547px;
        left: 895px;
        background-color: #d6e5cf;
        border-radius: 65px/52.21px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-5 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 551px;
        left: 1125px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-6 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 550px;
        left: 1355px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-7 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 549px;
        left: 1585px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-8 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 673px;
        left: 205px;
        background-color: #d6e5cf;
        border-radius: 65px/52.13px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-9 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 671px;
        left: 435px;
        background-color: #d6e5cf;
        border-radius: 65px/52.13px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-10 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 671px;
        left: 665px;
        background-color: #d6e5cf;
        border-radius: 65px/52.13px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-11 {
        position: absolute;
        width: 130px;
        height: 103px;
        top: 669px;
        left: 895px;
        background-color: #d6e5cf;
        border-radius: 65px/51.73px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-12 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 673px;
        left: 1125px;
        background-color: #d6e5cf;
        border-radius: 65px/52.13px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-13 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 673px;
        left: 1355px;
        background-color: #d6e5cf;
        border-radius: 65px/52.13px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-14 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 672px;
        left: 1585px;
        background-color: #d6e5cf;
        border-radius: 65px/52.13px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-15 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 796px;
        left: 205px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-16 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 794px;
        left: 435px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-17 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 794px;
        left: 665px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-18 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 792px;
        left: 895px;
        background-color: #d6e5cf;
        border-radius: 65px/52.21px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-19 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 796px;
        left: 1125px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-20 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 795px;
        left: 1355px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-21 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 795px;
        left: 1585px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-22 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 918px;
        left: 205px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-23 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 916px;
        left: 435px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-24 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 916px;
        left: 665px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-25 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 426px;
        left: 435px;
        background-color: #cdd6c9;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-26 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 427px;
        left: 665px;
        background-color: #cdd6c9;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-27 {
        position: absolute;
        width: 130px;
        height: 104px;
        top: 426px;
        left: 895px;
        background-color: #d6e5cf;
        border-radius: 65px/52.21px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-28 {
        position: absolute;
        width: 130px;
        height: 105px;
        top: 427px;
        left: 1125px;
        background-color: #d6e5cf;
        border-radius: 65px/52.61px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-29 {
        position: absolute;
        width: 130px;
        height: 108px;
        top: 427px;
        left: 1355px;
        background-color: #d6e5cf;
        border-radius: 65px/54.06px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .ellipse-30 {
        position: absolute;
        width: 130px;
        height: 108px;
        top: 425px;
        left: 1585px;
        background-color: #d6e5cf;
        border-radius: 65px/54.06px;
        border: 1px solid;
        border-color: #b6c4af;
      }
      
      .box .text-wrapper {
        position: absolute;
        width: 130px;
        height: 37px;
        top: 350px;
        left: 205px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #f90b0b;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .text-wrapper-2 {
        position: absolute;
        width: 130px;
        height: 37px;
        top: 373px;
        left: 435px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .text-wrapper-3 {
        position: absolute;
        width: 130px;
        height: 37px;
        top: 373px;
        left: 666px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .text-wrapper-4 {
        position: absolute;
        width: 130px;
        height: 37px;
        top: 370px;
        left: 887px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .text-wrapper-5 {
        position: absolute;
        width: 130px;
        height: 37px;
        top: 373px;
        left: 1125px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .text-wrapper-6 {
        position: absolute;
        width: 130px;
        height: 37px;
        top: 373px;
        left: 1361px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .text-wrapper-7 {
        position: absolute;
        width: 130px;
        height: 37px;
        top: 373px;
        left: 1585px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #0047ff;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .navbar {
        position: absolute;
        width: 1890px;
        height: 54px;
        top: 245px;
        left: 20px;
      }
      
      .box .dec {
        width: 133px;
        left: 1733px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .nov {
        width: 133px;
        left: 1577px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .oct {
        width: 133px;
        left: 1421px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .sep {
        width: 133px;
        left: 1264px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .aug {
        width: 147px;
        left: 1094px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .jul {
        width: 133px;
        left: 938px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .jun {
        width: 133px;
        left: 781px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .may {
        width: 133px;
        left: 625px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .apr {
        width: 133px;
        left: 469px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .mar {
        width: 133px;
        left: 313px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .feb {
        width: 133px;
        left: 156px;
        position: absolute;
        height: 54px;
        top: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .jan {
        position: absolute;
        width: 133px;
        height: 54px;
        top: 0;
        left: 0;
        font-family: "Bitter-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .text-wrapper-17 {
        width: 284px;
        height: 105px;
        top: 117px;
        left: 60px;
        color: #3d3a3a;
        font-size: 128px;
        position: absolute;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .line {
        position: absolute;
        width: 223px;
        height: 4px;
        top: 215px;
        left: 88px;
      }
      
      .box .text-wrapper-18 {
        width: 382px;
        height: 81px;
        top: 100px;
        left: 1474px;
        color: #6e666699;
        font-size: 110px;
        position: absolute;
        font-family: "caveat";
        font-weight: auto;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .box .text-wrapper-19 {
        position: absolute;
        width: 359px;
        height: 135px;
        top: 87px;
        left: 355px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #6f6767;
        font-size: 96px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .box .img {
        position: absolute;
        width: 61px;
        height: 61px;
        top: 10px;
        left: 1825px;
        background-blend-mode: hard-light;
        object-fit: cover;
      }
      
      .box .text-wrapper-20 {
        position: absolute;
        height: 47px;
        top: 16px;
        left: 20px;
        font-family: "caveat", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
      
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-2 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 549px;
    left: 435px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-3 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 549px;
    left: 665px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-4 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 547px;
    left: 895px;
    background-color: #d6e5cf;
    border-radius: 65px/52.21px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-5 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 551px;
    left: 1125px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-6 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 550px;
    left: 1355px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-7 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 549px;
    left: 1585px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-8 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 673px;
    left: 205px;
    background-color: #d6e5cf;
    border-radius: 65px/52.13px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-9 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 671px;
    left: 435px;
    background-color: #d6e5cf;
    border-radius: 65px/52.13px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-10 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 671px;
    left: 665px;
    background-color: #d6e5cf;
    border-radius: 65px/52.13px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-11 {
    position: absolute;
    width: 130px;
    height: 103px;
    top: 669px;
    left: 895px;
    background-color: #d6e5cf;
    border-radius: 65px/51.73px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-12 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 673px;
    left: 1125px;
    background-color: #d6e5cf;
    border-radius: 65px/52.13px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-13 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 673px;
    left: 1355px;
    background-color: #d6e5cf;
    border-radius: 65px/52.13px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-14 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 672px;
    left: 1585px;
    background-color: #d6e5cf;
    border-radius: 65px/52.13px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-15 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 796px;
    left: 205px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-16 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 794px;
    left: 435px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-17 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 794px;
    left: 665px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-18 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 792px;
    left: 895px;
    background-color: #d6e5cf;
    border-radius: 65px/52.21px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-19 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 796px;
    left: 1125px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-20 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 795px;
    left: 1355px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-21 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 795px;
    left: 1585px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-22 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 918px;
    left: 205px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-23 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 916px;
    left: 435px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-24 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 916px;
    left: 665px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-25 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 426px;
    left: 435px;
    background-color: #cdd6c9;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-26 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 427px;
    left: 665px;
    background-color: #cdd6c9;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-27 {
    position: absolute;
    width: 130px;
    height: 104px;
    top: 426px;
    left: 895px;
    background-color: #d6e5cf;
    border-radius: 65px/52.21px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-28 {
    position: absolute;
    width: 130px;
    height: 105px;
    top: 427px;
    left: 1125px;
    background-color: #d6e5cf;
    border-radius: 65px/52.61px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-29 {
    position: absolute;
    width: 130px;
    height: 108px;
    top: 427px;
    left: 1355px;
    background-color: #d6e5cf;
    border-radius: 65px/54.06px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .ellipse-30 {
    position: absolute;
    width: 130px;
    height: 108px;
    top: 425px;
    left: 1585px;
    background-color: #d6e5cf;
    border-radius: 65px/54.06px;
    border: 1px solid;
    border-color: #b6c4af;
  }
  
  .box .text-wrapper {
    position: absolute;
    width: 130px;
    height: 37px;
    top: 350px;
    left: 205px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #f90b0b;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-2 {
    position: absolute;
    width: 130px;
    height: 37px;
    top: 350px;
    left: 435px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-3 {
    position: absolute;
    width: 130px;
    height: 37px;
    top: 350px;
    left: 666px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-4 {
    position: absolute;
    width: 130px;
    height: 37px;
    top: 350px;
    left: 887px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-5 {
    position: absolute;
    width: 130px;
    height: 37px;
    top: 350px;
    left: 1125px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-6 {
    position: absolute;
    width: 130px;
    height: 37px;
    top: 350px;
    left: 1361px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-7 {
    position: absolute;
    width: 130px;
    height: 37px;
    top: 350px;
    left: 1585px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #0047ff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .navbar {
    position: absolute;
    width: 1890px;
    height: 54px;
    top: 245px;
    left: 20px;
  }
  
  .box .dec {
    width: 133px;
    left: 1733px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .nov {
    width: 133px;
    left: 1577px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .oct {
    width: 133px;
    left: 1421px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .sep {
    width: 133px;
    left: 1264px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .aug {
    width: 147px;
    left: 1094px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .jul {
    width: 133px;
    left: 938px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .jun {
    width: 133px;
    left: 781px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .may {
    width: 133px;
    left: 625px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .apr {
    width: 133px;
    left: 469px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .mar {
    width: 133px;
    left: 313px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .feb {
    width: 133px;
    left: 156px;
    position: absolute;
    height: 54px;
    top: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .jan {
    position: absolute;
    width: 133px;
    height: 54px;
    top: 0;
    left: 0;
    font-family: "Bitter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-17 {
    width: 284px;
    height: 105px;
    top: 75px;
    left: 60px;
    color: #3d3a3a;
    font-size: 128px;
    position: absolute;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .line {
    position: absolute;
    width: 223px;
    height: 4px;
    top: 215px;
    left: 88px;
  }
  
  .box .text-wrapper-18 {
    width: 382px;
    height: 81px;
    top: 100px;
    left: 1474px;
    color: #6e666699;
    font-size: 110px;
    position: absolute;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-19 {
    position: absolute;
    width: 359px;
    height: 135px;
    top: 87px;
    left: 355px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #6f6767;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .img {
    position: absolute;
    width: 61px;
    height: 61px;
    top: 10px;
    left: 1825px;
    background-blend-mode: hard-light;
    object-fit: cover;
  }
  
  .box .text-wrapper-20 {
    position: absolute;
    height: 47px;
    top: 16px;
    left: 20px;
    font-family: "caveat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  